name: Zealy Universal Monitor

on:
  schedule:
    - cron: "*/3 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pip install requests
      - run: python monitor.py
        env:
          BOT_TOKEN: ${{ 8374656735:AAHcy8FSz-MPvfUTfAWUZS2WYdvGcevVeNg }}
          CHAT_ID: ${{ 8123412199 }}
