name: zealy-universal-monitor

on:
  schedule:
    - cron: "*/3 * * * *"   # runs every 3 minutes
  workflow_dispatch:

jobs:
  monitor:
    runs-on: ubuntu-latest

    env:
      BOT_TOKEN: ${{ 8374656735:AAHcy8FSz-MPvfUTfAWUZS2WYdvGcevVeNg }}   # << ADD IN GITHUB SECRETS >>
      CHAT_ID: ${{ 8123412199 }}       # << ADD IN GITHUB SECRETS >>

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: pip install requests

      - name: Run Monitor Script
        run: python monitor.py
